[submodule "backend"]
	path = backend
	url = https://github.com/wecampus-platform/wecam-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/wecampus-platform/wecam-frontend.git
